<div class="contenedor" nz-row nzJustify="center">
    <div nz-col [nzXXl]="{span: 24, offset: 0}" [nzSm]="{span: 24, offset: 0}" [nzXs]="{span: 22, offset: 1}">
        <div nz-col [nzXXl]="{span: 7, offset: 0}" [nzSm]="{span: 8, offset: 0}" [nzXs]="{span: 24, offset: 0}"
            class="w3l-login-form form-login">
            <h2>Login</h2>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">user</label>
                    <nz-form-item>
                        <nz-form-control style="color: white; text-align: left" nzHasFeedback [nzErrorTip]="userNameErrorTpl">
                            <input nz-input class="form-control" formControlName="UserName" type="text" />
                            <ng-template #userNameErrorTpl let-control style="color: white;">
                                <ng-container *ngIf="control.hasError('UserName')">Este no es un usuario válido
                                </ng-container>
                                <ng-container *ngIf="control.hasError('required')">
                                    Debe proveer un usuario
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                    <nz-form-item>
                        <nz-form-control style="color: white; text-align: left;" nzHasFeedback nzErrorTip="Por favor ingrese su password">
                            <input nz-input class="form-control" formControlName="password" type="password" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <button type="submit">login</button>
            </form>
        </div>
        <div nz-col [nzXXl]="{span: 24, offset: 0}" [nzSm]="{span: 24, offset: 0}" [nzXs]="{span: 24, offset: 0}"
            class="footer">
            <p class="copyright"> &copy; 2022 Andrea Gutierrez</p>
        </div>
    </div>
</div>