<!-- <nz-table #virtualTable [nzBordered]="true"  [nzData]="listSubscribers" [nzPageSize]="10" [nzPageIndex]="1"   class="table" [nzScroll]="{ x: '1200px', y: '500px' }"> -->
<nz-table #virtualTable [nzBordered]="true" [nzData]="listSubscribers" class="table"
    [nzScroll]="{ x: '1200px', y: '500px' }" 
    nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()"
      (nzPageSizeChange)="searchData(true)">
    <thead>
        <tr>
            <th nzLeft nzWidth="200px">Nombre
                <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
            </th>
            <th>Correo electrónico</th>
            <th>Número de teléfono</th>
            <th>Código y número de teléfono</th>
            <th>Nombre del país</th>
            <th>Área</th>
            <th>Título profesional</th>
            <th>Estado de suscripción</th>
            <th nzLeft nzWidth="200px">Acciones</th>

        </tr>
    </thead>
    <tbody>
        <ng-template nz-virtual-scroll let-data let-index="index + 1">
            <tr>
                <td nzLeft>{{data.Name}}</td>
                <td>{{data.Email}}</td>
                <td>({{data.PhoneCode}}) {{data.PhoneNumber}}</td>
                <td>{{data.PhoneCodeAndNumber}}</td>
                <td>{{data.CountryName}}</td>
                <td>{{data.Area}}</td>
                <td>{{data.JobTitle}}</td>
                <td>{{data.SubscriptionStateDescription}}</td>
                <td>
                    <button nz-button nzType="primary" style="background-color:#05b189; border: 1px solid #05b189;"
                        nzShape="circle" nz-tooltip nzTooltipColor="#05b189" nzTooltipTitle="Detalle"
                        (click)="onDetail(data)">
                        <i nz-icon nzType="eye"></i>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" style="background-color:#3093ef; border: 1px solid #3093ef;"
                        nzShape="circle" nz-tooltip nzTooltipColor="#3093ef" nzTooltipTitle="Editar"
                        (click)="onEditar('Editar', data)">
                        <i nz-icon nzType="edit"></i>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" style="background-color: #F4364C; border: 1px solid #F4364C;"
                        nzShape="circle" nz-tooltip nzTooltipColor="#F4364C" nzTooltipTitle="Eliminar"
                        (click)="onEliminar(data)">
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                    </button>
                </td>

            </tr>
        </ng-template>
    </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue" class="form-control" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
            <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
        </div>
    </div>
</nz-dropdown-menu>