<nz-table #virtualTable [nzBordered]="true" [nzVirtualItemSize]="54" [nzData]="listCountries"
    [nzVirtualForTrackBy]="trackByIndex" [nzPageSize]="10" class="table" [nzScroll]="{ x: '1200px', y: '500px' }">
    <thead>
        <tr>
            <th nzLeft nzWidth="200px">Nombre
                <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
            </th>
            <th>Código</th>
            <th>Código 3</th>
            <th>Código de teléfono</th>
        </tr>
    </thead>
    <tbody>
        <ng-template nz-virtual-scroll let-data let-index="index + 1">
            <tr>
                <td nzLeft>{{data.Name}}</td>
                <td nzLeft>{{data.Code}}</td>
                <td nzLeft>{{data.Code3}}</td>
                <td nzLeft>{{data.PhoneCode}}</td>

            </tr>
        </ng-template>
    </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue" class="form-control" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
            <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
        </div>
    </div>
</nz-dropdown-menu>