<nz-spin nzTip="Cargando..." [nzSize]="'large'" [nzSpinning]="loading ">
    <div nz-row nzJustify="center">
        <div nz-col [nzXXl]="{span: 22, offset: 0}" [nzSm]="{span: 22, offset: 0}" [nzXs]="{span: 22, offset: 0}"
            class="encabezado">
            <h1>Lista de los países.</h1>
        </div>
        <div nz-col [nzXXl]="{span: 23, offset: 1}" [nzXs]="{span: 16, offset: 8}" [nzSm]="{span: 23, offset:1}"
            style="margin-top:20px;">
            <div nz-col nzOffset="-11">
                <button nz-button nzType="primary" style="background-color:#ff9e1b; border: 1px solid #ff9e1b;" nzTooltipPlacement="bottom"
                nz-tooltip nzTooltipColor="#ff9e1b" nzTooltipTitle="Atrás" (click)="onAtras()"><i nz-icon nzType="left"></i></button>
            </div>
        </div>
        <div nz-col [nzXXl]="{span: 22, offset: 0}" [nzSm]="{span: 22, offset: 0}" [nzXs]="{span: 22, offset: 0}"
            style="margin-top: 20px;">
            <app-table-countries *ngIf="countries.length!==0" [countries]="countries"></app-table-countries>
        </div>
    </div>
</nz-spin>